@import "tailwindcss";

@theme {
    --color-primary: #9f1fef;
    --color-background-light: #f7f6f8;
    --color-background-dark: #000000;
    /* Black background as requested */
    --color-card-dark: #1b1022;
    --color-border-dark: #3a2348;
}

/* Custom base styles to enforce the theme */
@layer base {
    body {
        @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white;
    }
}